flows/GEMS_Down_Stream_Case_Rejection-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_any_BlueStar_WT_or_LGDE_Task_is_enabled</name>
        <label>Check if any BlueStar WT or LGDE Task is enabled</label>
        <locationX>692</locationX>
        <locationY>405</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BlueSTAR_Walkthrough_Is_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BlueSTARWalkthroughEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_BlueSTAR_Walkthrough_Meeting_Setup_Complete</targetReference>
            </connector>
            <label>BlueSTAR Walkthrough Is Enabled</label>
        </rules>
        <rules>
            <name>LGDE_Task_Is_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LGDETaskIsEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_LGDE_Task</targetReference>
            </connector>
            <label>LGDE Task Is Enabled</label>
        </rules>
        <rules>
            <name>No_BS_WT_or_L</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LGDETaskIsEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BlueSTARWalkthroughEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Release_to_UW_Task</targetReference>
            </connector>
            <label>No BS WT or L</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_type</name>
        <label>Status type</label>
        <locationX>404</locationX>
        <locationY>108</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BWApprovalRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>statusCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BW Approval Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_GEMS_BlueSTAR_Walkthrough_Task_to_Closed</targetReference>
            </connector>
            <label>BW Approval Rejected</label>
        </rules>
        <rules>
            <name>QR_Approval_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>statusCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QR Approval Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_GEMS_QR_approval_Task_to_Closed</targetReference>
            </connector>
            <label>QR Approval Rejected</label>
        </rules>
        <rules>
            <name>QualityReviewCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>statusCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Review Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_GEMS_QR_approval_Task_to_Completed</targetReference>
            </connector>
            <label>Quality Review Completed</label>
        </rules>
        <rules>
            <name>no_QR_no_WT_no_LGDE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LGDETaskIsEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BlueSTARWalkthroughEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>QRNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Release_to_UW_Task_0</targetReference>
            </connector>
            <label>no QR no WT no LGDE</label>
        </rules>
    </decisions>
    <interviewLabel>GEMS Down Stream Case Rejection  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GEMS Down Stream Case Rejection</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_BlueSTAR_Walkthrough_Meeting_Setup_Complete</name>
        <label>Create a BlueSTAR Walkthrough Meeting Setup Complete</label>
        <locationX>1053</locationX>
        <locationY>429</locationY>
        <inputAssignments>
            <field>GEMS_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CaseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>BlueSTAR Walkthrough Meeting Setup Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_GEMS_BlueSTAR_Entry_Complete_Task</name>
        <label>Create a GEMS BlueSTAR Entry Complete Task</label>
        <locationX>402</locationX>
        <locationY>308</locationY>
        <connector>
            <targetReference>Update_case_to_In_Progress_after_BS_entry_complete_task_created</targetReference>
        </connector>
        <inputAssignments>
            <field>GEMS_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CaseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>BlueSTAR Entry Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_GEMS_BlueSTAR_Entry_Correction_Task</name>
        <label>Create a GEMS BlueSTAR Entry Correction Task</label>
        <locationX>152</locationX>
        <locationY>282</locationY>
        <inputAssignments>
            <field>GEMS_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CaseOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>BlueSTAR Entry Correction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_LGDE_Task</name>
        <label>Create a LGDE Task</label>
        <locationX>704</locationX>
        <locationY>569</locationY>
        <inputAssignments>
            <field>GEMS_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Release to Enroll/LGDE Eligibility Load</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Release_to_UW_Task</name>
        <label>Create a Release to UW Task</label>
        <locationX>944</locationX>
        <locationY>520</locationY>
        <inputAssignments>
            <field>GEMS_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Release to Underwriting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Release_to_UW_Task_0</name>
        <label>Create a Release to UW Task</label>
        <locationX>771</locationX>
        <locationY>86</locationY>
        <inputAssignments>
            <field>GEMS_Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Release to Underwriting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_the_GEMS_Account_Set_Up_Case</name>
        <label>Fetch the GEMS Account Set Up Case</label>
        <locationX>400</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>BlueSTARWalkthroughEnabled</assignToReference>
            <field>GEMS_Is_BlueSTAR_Walkthrough_Needed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LGDETaskIsEnabled</assignToReference>
            <field>GEM_Is_group_loading_eligty_via_LGDE__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QRNeeded</assignToReference>
            <field>Is_QR_Needed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccSubmissionRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>statusCase</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_to_In_Progress_after_BS_entry_complete_task_created</name>
        <label>Update case to rejected after BS entry complete task created</label>
        <locationX>404</locationX>
        <locationY>426</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>QR Approval Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_to_In_Progress_after_BS_entry_complete_task_created_0</name>
        <label>Update case to In Progress after BS entry complete task created</label>
        <locationX>690</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>Check_if_any_BlueStar_WT_or_LGDE_Task_is_enabled</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GEMS_Account_Setup_QR_Approval_Received__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_GEMS_BlueSTAR_Walkthrough_Task_to_Closed</name>
        <label>Update current GEMS BlueSTAR Walkthrough Task to Closed</label>
        <locationX>145</locationX>
        <locationY>185</locationY>
        <connector>
            <targetReference>Create_a_GEMS_BlueSTAR_Entry_Correction_Task</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BlueSTAR Walkthrough</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GEMS_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_GEMS_QR_approval_Task_to_Closed</name>
        <label>Update current GEMS QR approval Task to Closed</label>
        <locationX>403</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Create_a_GEMS_BlueSTAR_Entry_Complete_Task</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GEMS_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_GEMS_QR_approval_Task_to_Completed</name>
        <label>Update current GEMS QR approval Task to Closed</label>
        <locationX>677</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Update_case_to_In_Progress_after_BS_entry_complete_task_created_0</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GEMS_End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Fetch_the_GEMS_Account_Set_Up_Case</startElementReference>
    <variables>
        <name>AccSubmissionRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BlueSTARWalkthroughEnabled</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LGDETaskIsEnabled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QRNeeded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>statusCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
