flows/LGNA_AR_Account_Cancelllation-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>ARCancelllationHelper</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Cancellation Request To BlueStar</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ARCancelllationHelper</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>accountIds</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>accountIds</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>AR Cancellation Required fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>LGNA AR Cancellation request sent to B*</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
[Account].RecordType.Name = &apos;Group Account&apos; &amp;&amp;
NOT(ISPICKVAL(PRIORVALUE([Account].Cancellation_Status__c), &apos;Requested Cancellation&apos;) )  &amp;&amp; 
ISCHANGED([Account].Cancellation_Status__c) &amp;&amp;
ISPICKVAL([Account].Cancellation_Status__c, &apos;Requested Cancellation&apos;)&amp;&amp; 
TEXT([Account].Requested_Cancellation_Date__c)  &lt;&gt; &apos;&apos; &amp;&amp; 
NOT(ISPICKVAL([Account].Cancellation_Code__c , &apos;&apos;))&amp;&amp; 
NOT(ISPICKVAL([Account].Cancellation_Reason__c , &apos;&apos;))
  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.Name} = &apos;Group Account&apos; &amp;&amp;
NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.Cancellation_Status__c}), &apos;Requested Cancellation&apos;) )  &amp;&amp; 
ISCHANGED({!myVariable_current.Cancellation_Status__c}) &amp;&amp;
ISPICKVAL({!myVariable_current.Cancellation_Status__c}, &apos;Requested Cancellation&apos;)&amp;&amp; 
TEXT({!myVariable_current.Requested_Cancellation_Date__c})  &lt;&gt; &apos;&apos; &amp;&amp; 
NOT(ISPICKVAL({!myVariable_current.Cancellation_Code__c} , &apos;&apos;))&amp;&amp; 
NOT(ISPICKVAL({!myVariable_current.Cancellation_Reason__c} , &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
[Account].RecordType.Name = &apos;Group Account&apos; &amp;&amp;
NOT(ISPICKVAL(PRIORVALUE([Account].Cancellation_Status__c), &apos;Requested Cancellation&apos;) )  &amp;&amp; 
ISCHANGED([Account].Cancellation_Status__c) &amp;&amp;
ISPICKVAL([Account].Cancellation_Status__c, &apos;Requested Cancellation&apos;)&amp;&amp; 
TEXT([Account].Requested_Cancellation_Date__c)  &lt;&gt; &apos;&apos; &amp;&amp; 
NOT(ISPICKVAL([Account].Cancellation_Code__c , &apos;&apos;))&amp;&amp; 
NOT(ISPICKVAL([Account].Cancellation_Reason__c , &apos;&apos;))
  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.RecordType.Name} = &apos;Group Account&apos; &amp;&amp;
NOT(ISPICKVAL(PRIORVALUE({!myVariable_old.Cancellation_Status__c}), &apos;Requested Cancellation&apos;) )  &amp;&amp; 
ISCHANGED({!myVariable_old.Cancellation_Status__c}) &amp;&amp;
ISPICKVAL({!myVariable_old.Cancellation_Status__c}, &apos;Requested Cancellation&apos;)&amp;&amp; 
TEXT({!myVariable_old.Requested_Cancellation_Date__c})  &lt;&gt; &apos;&apos; &amp;&amp; 
NOT(ISPICKVAL({!myVariable_old.Cancellation_Code__c} , &apos;&apos;))&amp;&amp; 
NOT(ISPICKVAL({!myVariable_old.Cancellation_Reason__c} , &apos;&apos;))</expression>
    </formulas>
    <interviewLabel>LGNA_AR_Account_Cancelllation-3_InterviewLabel</interviewLabel>
    <label>LGNA AR Cancelllation v7</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
