flows/MBC_Generic_Processes-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>DTU_exists</name>
        <label>DTU exists?</label>
        <locationX>473</locationX>
        <locationY>564</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varDTUExists</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Feak_Testing_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDTUExists</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Feak_Testing_record_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Feak_needed</name>
        <label>Feak needed?</label>
        <locationX>612</locationX>
        <locationY>192</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFeakNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_status_on_Feak_Analysis</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFeakNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>false</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_status_on_Feak_Analysis_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>MBC Generic Processes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MBC Generic Processes</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Feak_Testing_record</name>
        <label>Create Feak Testing record</label>
        <locationX>235</locationX>
        <locationY>626</locationY>
        <inputAssignments>
            <field>BA_No__c</field>
            <value>
                <elementReference>varBANo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DTU_Sign_Off_Date__c</field>
            <value>
                <elementReference>varDTUSignOffDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MBC_BA_Level_Case_FEAK_Testing__c</field>
            <value>
                <elementReference>varFeakAnalysisMBCId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MBC_Parent_Case__c</field>
            <value>
                <elementReference>varMBCParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varFeaktestingQName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>GEMS_MBC_Testing__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Feak_Testing_record_0</name>
        <label>Create Feak Testing record</label>
        <locationX>745</locationX>
        <locationY>641</locationY>
        <inputAssignments>
            <field>BA_No__c</field>
            <value>
                <elementReference>varBANo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MBC_BA_Level_Case_FEAK_Testing__c</field>
            <value>
                <elementReference>varFeakAnalysisMBCId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MBC_Parent_Case__c</field>
            <value>
                <elementReference>varMBCParentCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varFeaktestingQName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>GEMS_MBC_Testing__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_MBC_object_for_FEAK_Analysis</name>
        <label>Lookup MBC object for FEAK Analysis</label>
        <locationX>606</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Feak_needed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFeakAnalysisId</elementReference>
            </value>
        </filters>
        <object>GEMS_MBC_Testing__c</object>
        <outputAssignments>
            <assignToReference>varBANo</assignToReference>
            <field>BA_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDTUSignOffDate</assignToReference>
            <field>DTU_Sign_Off_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFeakNeeded</assignToReference>
            <field>FEAK_Testing_Needed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFeakAnalysisMBCId</assignToReference>
            <field>MBC_BA_Level_Case_FEAK__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMBCParentCase</assignToReference>
            <field>MBC_Parent_Case__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_type</name>
        <label>Lookup Record type</label>
        <locationX>251</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Lookup</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FEAK Testing</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Queue_Lookup</name>
        <label>Queue Lookup</label>
        <locationX>551</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Lookup_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GEMS FEAK Testing Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varFeaktestingQName</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Queue_Lookup_0</name>
        <label>DTU exits lookup</label>
        <locationX>734</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DTU_exists</targetReference>
        </connector>
        <filters>
            <field>MBC_BA_Level_Case_DTU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFeakAnalysisMBCId</elementReference>
            </value>
        </filters>
        <object>GEMS_MBC_Testing__c</object>
        <outputAssignments>
            <assignToReference>varDTUExists</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_status_on_Feak_Analysis</name>
        <label>update status on Feak Analysis</label>
        <locationX>388</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Lookup_Record_type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFeakAnalysisId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>FEAK Testing Required</stringValue>
            </value>
        </inputAssignments>
        <object>GEMS_MBC_Testing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_status_on_Feak_Analysis_0</name>
        <label>update status on Feak Analysis</label>
        <locationX>835</locationX>
        <locationY>315</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFeakAnalysisId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>No FEAK Testing Needed</stringValue>
            </value>
        </inputAssignments>
        <object>GEMS_MBC_Testing__c</object>
    </recordUpdates>
    <startElementReference>Lookup_MBC_object_for_FEAK_Analysis</startElementReference>
    <variables>
        <name>varBANo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDTUExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDTUSignOffDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFeakAnalysisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFeakAnalysisMBCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFeakNeeded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFeaktestingQName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMBCParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
