flows/Populated_Relationship-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update Relationship</label>
        </rules>
    </decisions>
    <description>Used to Populate Relationship</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([SGR_Account_Census__c].Relationship_Code__c =&apos;CUS&apos;  , Civil Union Spouse) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;C2&apos;  , 	Class II Dependent)
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;DEP&apos;  , Dependent Child) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;DIS&apos;  , Disabled Dependent) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;DP&apos;  , Domestic Partner) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;SPD&apos;  , Sponsored Dependent-Child ) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;SPP&apos;  , Sponsored Dep-Adult) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;SPS&apos;  , Spouse) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;SSP&apos;  , Surviving Spouse) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;STD&apos;  , Student) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;SUB&apos;  , Subscriber) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;XCU&apos;  , Ex-Civil Union Spouse) 
IF([SGR_Account_Census__c].Relationship_Code__c =&apos;XSP&apos;  , EX-Spouse) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_3669500675</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Relationship_Code__c} =&apos;CUS&apos;  , Civil Union Spouse) 
IF({!myVariable_current.Relationship_Code__c} =&apos;C2&apos;  , 	Class II Dependent)
IF({!myVariable_current.Relationship_Code__c} =&apos;DEP&apos;  , Dependent Child) 
IF({!myVariable_current.Relationship_Code__c} =&apos;DIS&apos;  , Disabled Dependent) 
IF({!myVariable_current.Relationship_Code__c} =&apos;DP&apos;  , Domestic Partner) 
IF({!myVariable_current.Relationship_Code__c} =&apos;SPD&apos;  , Sponsored Dependent-Child ) 
IF({!myVariable_current.Relationship_Code__c} =&apos;SPP&apos;  , Sponsored Dep-Adult) 
IF({!myVariable_current.Relationship_Code__c} =&apos;SPS&apos;  , Spouse) 
IF({!myVariable_current.Relationship_Code__c} =&apos;SSP&apos;  , Surviving Spouse) 
IF({!myVariable_current.Relationship_Code__c} =&apos;STD&apos;  , Student) 
IF({!myVariable_current.Relationship_Code__c} =&apos;SUB&apos;  , Subscriber) 
IF({!myVariable_current.Relationship_Code__c} =&apos;XCU&apos;  , Ex-Civil Union Spouse) 
IF({!myVariable_current.Relationship_Code__c} =&apos;XSP&apos;  , EX-Spouse)</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Populated_Relationship-1_InterviewLabel</interviewLabel>
    <label>Populated Relationship</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SGR_Account_Census__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[SGR_Account_Census__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Relationship</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Relationship</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Relationship__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_3669500675</elementReference>
            </value>
        </inputAssignments>
        <object>SGR_Account_Census__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SGR_Account_Census__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SGR_Account_Census__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
