flows/SGR_Submit_Case_to_Group_Verifier-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Opportunity_Workflow_Activity</name>
        <label>Update Opportunity Workflow Activity</label>
        <locationX>1071</locationX>
        <locationY>86</locationY>
        <actionName>SGR_CaseReassignment</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>FoundCase</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Reason_Value</name>
        <label>Check Reason Value</label>
        <locationX>391</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>Error_Submit_Case_to_Group_Verifier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not BlueSTAR Fallout</defaultConnectorLabel>
        <rules>
            <name>BlueSTAR_Fallout</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FoundCase.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eligibility</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FoundCase.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>transfer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success</targetReference>
            </connector>
            <label>BlueSTAR Fallout</label>
        </rules>
    </decisions>
    <interviewLabel>SGR - Submit Case to Group Verifier {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SGR - Submit Case to Group Verifier</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>180</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Reason_Value</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>FoundCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Opportunity_Name__c</queriedFields>
        <queriedFields>Reason</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Verifier_Queue_ID</name>
        <label>Get Group Verifier Queue ID</label>
        <locationX>180</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SGR_Group_Verifier_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>SGRGroupVerifierQueue</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>915</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Update_Opportunity_Workflow_Activity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SGRGroupVerifierQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending GV Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Error_Submit_Case_to_Group_Verifier</name>
        <label>Error - Submit Case to Group Verifier</label>
        <locationX>748</locationX>
        <locationY>389</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cannot_Update_Non_Bluestar</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>751</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>Success2</name>
            <fieldText>{!SuccessMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Group_Verifier_Queue_ID</startElementReference>
    <textTemplates>
        <name>ErrorMessage</name>
        <text>You cannot submit a non-BlueSTAR case to the Group Verifier queue.</text>
    </textTemplates>
    <textTemplates>
        <name>SuccessMessage</name>
        <text>This case has been successfully transferred to the Group Verifier queue.</text>
    </textTemplates>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eligibility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BlueSTAR Eligibility Fallout</stringValue>
        </value>
    </variables>
    <variables>
        <name>FoundCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SGRGroupVerifierQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transfer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BlueSTAR Transfer Fallout</stringValue>
        </value>
    </variables>
</Flow>
